### Store all the information above in a data lake
##### Create your data lake using S3 

Once you managed to build your dataset, you should store into S3 as a csv file.

### IV. Store files on S3 bucket

In [1]:
!pip install Boto3 -q

In [2]:
import boto3

In [3]:
# Access to AWS - remplace by your key
aws_access_key_id = "aws_access_key_id" 
aws_secret_access_key = "aws_secret_access_key"

# For security and privacy reasons, the aws_access_key_id and aws_secret_access_key have been replaced in the notebook

In [4]:
session = boto3.Session(aws_access_key_id=aws_access_key_id, 
                        aws_secret_access_key=aws_secret_access_key)

In [5]:
#Creating a resource session

s3 = session.resource("s3")
client = session.client("s3")

In [6]:
# Check buckets already created in S3

for bucket in s3.buckets.all():
    print(bucket.name)

kayakprojectfess

In [34]:
# Creating S3 bucket which will be called "projet_kayak_data"

bucket_name = s3.create_bucket(Bucket="kayakprojectfess")

In [35]:
#Using put() fonction to put an object on the creating bucket

put_object = bucket_name.put_object(Key='citiest_coordgps.csv', Body=open("src/cities_coordgps.csv", "rb"))
put_object2 = bucket_name.put_object(Key='citiest_weather.csv', Body=open("src/cities_weather.csv", "rb"))
put_object = bucket_name.put_object(Key='list_hotels.csv', Body=open("src/list_hotels.csv", "rb"))

In [36]:
#verifying of the csv file has beel correctly stored in the S3 bucket 

for bucket in s3.buckets.all():
    for key in bucket.objects.all():
        print(bucket)
        print(key.key)

s3.Bucket(name='kayakprojectfess')
citiest_coordgps.csv
s3.Bucket(name='kayakprojectfess')
citiest_weather.csv
s3.Bucket(name='kayakprojectfess')
list_hotels.csv

### Extract, transform and load cleaned data from your datalake to a data warehouse
##### ETL 

Once you uploaded your data onto S3, it will be better for the next data analysis team to extract clean data directly from a Data Warehouse. Therefore, create a SQL Database using AWS RDS, extract your data from S3 and store it in your newly created DB.

In [16]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

In [17]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine, text

#### Extract the data from S3

In [37]:
bucket_name = 'kayakprojectfess'

In [38]:
responseGPS = client.get_object(Bucket=bucket_name, Key ="citiest_coordgps.csv")
coordgps = pd.read_csv(responseGPS.get('Body'))
coordgps.head()

                City   Latitude  Longitude
0  Mont Saint Michel  48.635954  -1.511460
1            St Malo  48.649518  -2.026041
2             Bayeux  49.276462  -0.702474
3           Le Havre  49.493898   0.107973
4              Rouen  49.440459   1.093966

In [29]:
responseWEATHER = client.get_object(Bucket=bucket_name, Key ="citiest_weather.csv")
weather = pd.read_csv(responseWEATHER.get('Body'))
weather.head()

,city,Latitude,Longitude,day,date,tem_day,feelslike_day,pressure,humidity,wind_speed,weather_main,weather_desc,prob_rain,clouds,uvi
0,Mont Saint Michel,48.635954,-1.51146,0,22/03/2022,14.08,13.01,1026,56,7.73,Rain,light rain,0.22,2,3.41
1,Mont Saint Michel,48.635954,-1.51146,1,23/03/2022,13.40,12.00,1029,46,6.22,Clouds,broken clouds,0.00,55,3.42
2,Mont Saint Michel,48.635954,-1.51146,2,24/03/2022,16.13,15.21,1028,54,4.25,Clouds,few clouds,0.00,14,3.50
3,Mont Saint Michel,48.635954,-1.51146,3,25/03/2022,16.21,15.17,1027,49,5.35,Clear,clear sky,0.00,0,4.26
4,Mont Saint Michel,48.635954,-1.51146,4,26/03/2022,15.56,14.58,1027,54,6.39,Clear,clear sky,0.00,0,4.24

In [39]:
responseHOTEL = client.get_object(Bucket=bucket_name, Key ="list_hotels.csv")
hotel = pd.read_csv(responseHOTEL.get('Body'))
hotel.head()

,hotel_name,hotel_url,hotel_describe,hotel_ranking,hotel_city,hotel_lat,hotel_lon
0,MEININGER Hotel Lyon Centre Berthelot,https://www.booking.com/hotel/fr/meininger-lyo...,"Installé à Lyon, le MEININGER Hotel Lyon Centr...","8,4",Lyon,45.746083,4.837187
1,ibis Lyon Gerland Musée des Confluences,https://www.booking.com/hotel/fr/ibis-lyon-ger...,"Installé dans le sud de Lyon, sur les rives du...","7,9",Lyon,45.733325,4.822880
2,19Sisley - Calme & Cosy - 3CH 8P Metro Parking x2,https://www.booking.com/hotel/fr/19sisley.fr.h...,Hébergement géré par un particulier,"8,3",Lyon,45.750615,4.868686
3,La Résidence,https://www.booking.com/hotel/fr/laresidenlyon...,Situé dans une rue piétonne de la presqu'île d...,"8,0",Lyon,45.755278,4.830482
4,La Casa Jungle Bed & Spa - Pentes de la Croix ...,https://www.booking.com/hotel/fr/la-casa-jungl...,"Doté d'une baignoire spa, l'établissement La C...","8,4",Lyon,45.771222,4.835430

#### Insert the date to SQL Database

In [40]:
#Informations of the RDS Database to make the connection
DBHOST = "kayak-db.cfemolqokjpg.eu-west-3.rds.amazonaws.com"
DBUSER = "fessonuser"
DBPASS = "dbpass"
DBNAME = "kayak-db"

#For security and privacy reasons, the dbpass have been replaced in the nb

In [41]:
# Create engine
# Replace HOSTNAME by AWS RDS Endpoint, USERNAME and PASSWORD by its credentials
engine = create_engine(f"postgresql+psycopg2://{DBUSER}:{DBPASS}@{DBHOST}/{DBNAME}", echo=True)

In [42]:
engine

Engine(postgresql+psycopg2://fessonuser:***@kayak-db.cfemolqokjpg.eu-west-3.rds.amazonaws.com/kayak-db)

In [43]:
# Create the table gpskayak

coordgps.to_sql ( name = 'gpskayak', if_exists = 'replace', con = engine, index = False)

2022-07-24 20:08:16,073 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-07-24 20:08:16,074 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-24 20:08:16,088 INFO sqlalchemy.engine.Engine select current_schema()
2022-07-24 20:08:16,090 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-24 20:08:16,102 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-07-24 20:08:16,103 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-07-24 20:08:16,117 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:16,118 INFO sqlalchemy.engine.Engine [generated in 0.00143s] {'name': 'gpskayak'}
2022-07-24 20:08:16,137 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:16,138 INFO sqlalchemy.engine.Engine [cached since 0.02162s ago] {'name': 'gpskayak'}
2022-07-24 20:08:16,158 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-07-24 20:08:16,159 INFO sqlalchemy.engine.Engine [generated in 0.00150s] {'schema': 'public'}
2022-07-24 20:08:16,173 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-07-24 20:08:16,174 INFO sqlalchemy.engine.Engine [generated in 0.00125s] {'table_name': 'gpskayak'}
2022-07-24 20:08:16,182 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-07-24 20:08:16,183 INFO sqlalchemy.engine.Engine [generated in 0.00114s] {'table_oid': 16424}
2022-07-24 20:08:16,193 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-07-24 20:08:16,194 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {}
2022-07-24 20:08:16,201 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-07-24 20:08:16,202 INFO sqlalchemy.engine.Engine [generated in 0.00102s] {}
2022-07-24 20:08:16,211 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-07-24 20:08:16,212 INFO sqlalchemy.engine.Engine [generated in 0.00110s] {'table_oid': 16424}
2022-07-24 20:08:16,220 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-07-24 20:08:16,221 INFO sqlalchemy.engine.Engine [generated in 0.00097s] {'table_oid': 16424}
2022-07-24 20:08:16,229 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-07-24 20:08:16,230 INFO sqlalchemy.engine.Engine [generated in 0.00109s] {'table': 16424}
2022-07-24 20:08:16,238 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-07-24 20:08:16,239 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {'table_oid': 16424}
2022-07-24 20:08:16,248 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-07-24 20:08:16,249 INFO sqlalchemy.engine.Engine [generated in 0.00141s] {'table_oid': 16424}
2022-07-24 20:08:16,257 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-07-24 20:08:16,258 INFO sqlalchemy.engine.Engine [generated in 0.00113s] {'table_oid': 16424}
2022-07-24 20:08:16,265 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-07-24 20:08:16,266 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {'table_oid': 16424}
2022-07-24 20:08:16,278 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:16,280 INFO sqlalchemy.engine.Engine
DROP TABLE gpskayak
2022-07-24 20:08:16,281 INFO sqlalchemy.engine.Engine [no key 0.00126s] {}
2022-07-24 20:08:16,294 INFO sqlalchemy.engine.Engine COMMIT
2022-07-24 20:08:16,303 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:16,305 INFO sqlalchemy.engine.Engine
CREATE TABLE gpskayak (
	"City" TEXT,
	"Latitude" FLOAT(53),
	"Longitude" FLOAT(53)
)


2022-07-24 20:08:16,306 INFO sqlalchemy.engine.Engine [no key 0.00112s] {}
2022-07-24 20:08:16,322 INFO sqlalchemy.engine.Engine COMMIT
2022-07-24 20:08:16,330 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:16,333 INFO sqlalchemy.engine.Engine INSERT INTO gpskayak ("City", "Latitude", "Longitude") VALUES (%(City)s, %(Latitude)s, %(Longitude)s)
2022-07-24 20:08:16,333 INFO sqlalchemy.engine.Engine [generated in 0.00124s] ({'City': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514}, {'City': 'St Malo', 'Latitude': 48.649518, 'Longitude': -2.0260409}, {'City': 'Bayeux', 'Latitude': 49.2764624, 'Longitude': -0.7024738}, {'City': 'Le Havre', 'Latitude': 49.4938975, 'Longitude': 0.1079732}, {'City': 'Rouen', 'Latitude': 49.4404591, 'Longitude': 1.0939658}, {'City': 'Paris', 'Latitude': 48.8588897, 'Longitude': 2.3200410217200766}, {'City': 'Amiens', 'Latitude': 49.8941708, 'Longitude': 2.2956951}, {'City': 'Lille', 'Latitude': 50.6365654, 'Longitude': 3.0635282}  ... displaying 10 of 35 total bound parameter sets ...  {'City': 'Bayonne', 'Latitude': 43.4933379, 'Longitude': -1.475099}, {'City': 'La Rochelle', 'Latitude': 46.1591126, 'Longitude': -1.1520434})
2022-07-24 20:08:16,348 INFO sqlalchemy.engine.Engine COMMIT

35

In [44]:
# Create the table weather

weather.to_sql ( name = 'weather', if_exists = 'replace', con = engine, index = False)

2022-07-24 20:08:24,492 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:24,493 INFO sqlalchemy.engine.Engine [cached since 8.377s ago] {'name': 'weather'}
2022-07-24 20:08:24,513 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:24,514 INFO sqlalchemy.engine.Engine [cached since 8.398s ago] {'name': 'weather'}
2022-07-24 20:08:24,532 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-07-24 20:08:24,534 INFO sqlalchemy.engine.Engine [cached since 8.376s ago] {'schema': 'public'}
2022-07-24 20:08:24,547 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-07-24 20:08:24,548 INFO sqlalchemy.engine.Engine [cached since 8.375s ago] {'table_name': 'weather'}
2022-07-24 20:08:24,556 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-07-24 20:08:24,557 INFO sqlalchemy.engine.Engine [cached since 8.375s ago] {'table_oid': 16430}
2022-07-24 20:08:24,564 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-07-24 20:08:24,566 INFO sqlalchemy.engine.Engine [cached since 8.373s ago] {}
2022-07-24 20:08:24,573 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-07-24 20:08:24,575 INFO sqlalchemy.engine.Engine [cached since 8.373s ago] {}
2022-07-24 20:08:24,583 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-07-24 20:08:24,584 INFO sqlalchemy.engine.Engine [cached since 8.373s ago] {'table_oid': 16430}
2022-07-24 20:08:24,591 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-07-24 20:08:24,593 INFO sqlalchemy.engine.Engine [cached since 8.373s ago] {'table_oid': 16430}
2022-07-24 20:08:24,600 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-07-24 20:08:24,601 INFO sqlalchemy.engine.Engine [cached since 8.372s ago] {'table': 16430}
2022-07-24 20:08:24,608 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-07-24 20:08:24,609 INFO sqlalchemy.engine.Engine [cached since 8.371s ago] {'table_oid': 16430}
2022-07-24 20:08:24,617 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-07-24 20:08:24,618 INFO sqlalchemy.engine.Engine [cached since 8.37s ago] {'table_oid': 16430}
2022-07-24 20:08:24,625 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-07-24 20:08:24,626 INFO sqlalchemy.engine.Engine [cached since 8.369s ago] {'table_oid': 16430}
2022-07-24 20:08:24,633 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-07-24 20:08:24,634 INFO sqlalchemy.engine.Engine [cached since 8.369s ago] {'table_oid': 16430}
2022-07-24 20:08:24,646 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:24,648 INFO sqlalchemy.engine.Engine
DROP TABLE weather
2022-07-24 20:08:24,649 INFO sqlalchemy.engine.Engine [no key 0.00093s] {}
2022-07-24 20:08:24,662 INFO sqlalchemy.engine.Engine COMMIT
2022-07-24 20:08:24,671 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:24,673 INFO sqlalchemy.engine.Engine
CREATE TABLE weather (
	city TEXT,
	"Latitude" FLOAT(53),
	"Longitude" FLOAT(53),
	day BIGINT,
	date TEXT,
	tem_day FLOAT(53),
	feelslike_day FLOAT(53),
	pressure BIGINT,
	humidity BIGINT,
	wind_speed FLOAT(53),
	weather_main TEXT,
	weather_desc TEXT,
	prob_rain FLOAT(53),
	clouds BIGINT,
	uvi FLOAT(53)
)


2022-07-24 20:08:24,677 INFO sqlalchemy.engine.Engine [no key 0.00354s] {}
2022-07-24 20:08:24,692 INFO sqlalchemy.engine.Engine COMMIT
2022-07-24 20:08:24,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:24,710 INFO sqlalchemy.engine.Engine INSERT INTO weather (city, "Latitude", "Longitude", day, date, tem_day, feelslike_day, pressure, humidity, wind_speed, weather_main, weather_desc, prob_rain, clouds, uvi) VALUES (%(city)s, %(Latitude)s, %(Longitude)s, %(day)s, %(date)s, %(tem_day)s, %(feelslike_day)s, %(pressure)s, %(humidity)s, %(wind_speed)s, %(weather_main)s, %(weather_desc)s, %(prob_rain)s, %(clouds)s, %(uvi)s)
2022-07-24 20:08:24,711 INFO sqlalchemy.engine.Engine [generated in 0.00408s] ({'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 0, 'date': '22/03/2022', 'tem_day': 14.08, 'feelslike_day': 13.01, 'pressure': 1026, 'humidity': 56, 'wind_speed': 7.73, 'weather_main': 'Rain', 'weather_desc': 'light rain', 'prob_rain': 0.22, 'clouds': 2, 'uvi': 3.41}, {'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 1, 'date': '23/03/2022', 'tem_day': 13.4, 'feelslike_day': 12.0, 'pressure': 1029, 'humidity': 46, 'wind_speed': 6.22, 'weather_main': 'Clouds', 'weather_desc': 'broken clouds', 'prob_rain': 0.0, 'clouds': 55, 'uvi': 3.42}, {'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 2, 'date': '24/03/2022', 'tem_day': 16.13, 'feelslike_day': 15.21, 'pressure': 1028, 'humidity': 54, 'wind_speed': 4.25, 'weather_main': 'Clouds', 'weather_desc': 'few clouds', 'prob_rain': 0.0, 'clouds': 14, 'uvi': 3.5}, {'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 3, 'date': '25/03/2022', 'tem_day': 16.21, 'feelslike_day': 15.17, 'pressure': 1027, 'humidity': 49, 'wind_speed': 5.35, 'weather_main': 'Clear', 'weather_desc': 'clear sky', 'prob_rain': 0.0, 'clouds': 0, 'uvi': 4.26}, {'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 4, 'date': '26/03/2022', 'tem_day': 15.56, 'feelslike_day': 14.58, 'pressure': 1027, 'humidity': 54, 'wind_speed': 6.39, 'weather_main': 'Clear', 'weather_desc': 'clear sky', 'prob_rain': 0.0, 'clouds': 0, 'uvi': 4.24}, {'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 5, 'date': '27/03/2022', 'tem_day': 16.11, 'feelslike_day': 15.19, 'pressure': 1026, 'humidity': 54, 'wind_speed': 4.9, 'weather_main': 'Clear', 'weather_desc': 'clear sky', 'prob_rain': 0.0, 'clouds': 0, 'uvi': 3.83}, {'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 6, 'date': '28/03/2022', 'tem_day': 16.4, 'feelslike_day': 15.56, 'pressure': 1019, 'humidity': 56, 'wind_speed': 4.82, 'weather_main': 'Clear', 'weather_desc': 'clear sky', 'prob_rain': 0.0, 'clouds': 3, 'uvi': 4.0}, {'city': 'Mont Saint Michel', 'Latitude': 48.6359541, 'Longitude': -1.511459954959514, 'day': 7, 'date': '29/03/2022', 'tem_day': 13.08, 'feelslike_day': 11.96, 'pressure': 1012, 'humidity': 58, 'wind_speed': 7.96, 'weather_main': 'Clouds', 'weather_desc': 'few clouds', 'prob_rain': 0.0, 'clouds': 19, 'uvi': 4.0}  ... displaying 10 of 280 total bound parameter sets ...  {'city': 'La Rochelle', 'Latitude': 46.1591126, 'Longitude': -1.1520434, 'day': 6, 'date': '28/03/2022', 'tem_day': 16.06, 'feelslike_day': 15.26, 'pressure': 1017, 'humidity': 59, 'wind_speed': 5.63, 'weather_main': 'Clouds', 'weather_desc': 'few clouds', 'prob_rain': 0.0, 'clouds': 16, 'uvi': 5.0}, {'city': 'La Rochelle', 'Latitude': 46.1591126, 'Longitude': -1.1520434, 'day': 7, 'date': '29/03/2022', 'tem_day': 14.8, 'feelslike_day': 14.11, 'pressure': 1008, 'humidity': 68, 'wind_speed': 8.91, 'weather_main': 'Rain', 'weather_desc': 'light rain', 'prob_rain': 0.23, 'clouds': 100, 'uvi': 5.0})
2022-07-24 20:08:24,749 INFO sqlalchemy.engine.Engine COMMIT

280

In [45]:
# Create the table hotel

hotel.to_sql ( name = 'hotel', if_exists = 'replace', con = engine, index = False)

2022-07-24 20:08:32,209 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:32,211 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'name': 'hotel'}
2022-07-24 20:08:32,232 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:32,233 INFO sqlalchemy.engine.Engine [cached since 16.12s ago] {'name': 'hotel'}
2022-07-24 20:08:32,251 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-07-24 20:08:32,253 INFO sqlalchemy.engine.Engine [cached since 16.1s ago] {'schema': 'public'}
2022-07-24 20:08:32,266 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-07-24 20:08:32,268 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_name': 'hotel'}
2022-07-24 20:08:32,275 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-07-24 20:08:32,277 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_oid': 16436}
2022-07-24 20:08:32,285 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-07-24 20:08:32,286 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {}
2022-07-24 20:08:32,293 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-07-24 20:08:32,294 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {}
2022-07-24 20:08:32,302 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-07-24 20:08:32,304 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_oid': 16436}
2022-07-24 20:08:32,311 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-07-24 20:08:32,312 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_oid': 16436}
2022-07-24 20:08:32,320 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-07-24 20:08:32,321 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table': 16436}
2022-07-24 20:08:32,329 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-07-24 20:08:32,330 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_oid': 16436}
2022-07-24 20:08:32,338 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-07-24 20:08:32,339 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_oid': 16436}
2022-07-24 20:08:32,346 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-07-24 20:08:32,347 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_oid': 16436}
2022-07-24 20:08:32,354 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-07-24 20:08:32,355 INFO sqlalchemy.engine.Engine [cached since 16.09s ago] {'table_oid': 16436}
2022-07-24 20:08:32,371 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:32,372 INFO sqlalchemy.engine.Engine
DROP TABLE hotel
2022-07-24 20:08:32,376 INFO sqlalchemy.engine.Engine [no key 0.00387s] {}
2022-07-24 20:08:32,389 INFO sqlalchemy.engine.Engine COMMIT
2022-07-24 20:08:32,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:32,401 INFO sqlalchemy.engine.Engine
CREATE TABLE hotel (
	hotel_name TEXT,
	hotel_url TEXT,
	hotel_describe TEXT,
	hotel_ranking TEXT,
	hotel_city TEXT,
	hotel_lat FLOAT(53),
	hotel_lon FLOAT(53)
)


2022-07-24 20:08:32,402 INFO sqlalchemy.engine.Engine [no key 0.00138s] {}
2022-07-24 20:08:32,417 INFO sqlalchemy.engine.Engine COMMIT
2022-07-24 20:08:32,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-24 20:08:32,428 INFO sqlalchemy.engine.Engine INSERT INTO hotel (hotel_name, hotel_url, hotel_describe, hotel_ranking, hotel_city, hotel_lat, hotel_lon) VALUES (%(hotel_name)s, %(hotel_url)s, %(hotel_describe)s, %(hotel_ranking)s, %(hotel_city)s, %(hotel_lat)s, %(hotel_lon)s)
2022-07-24 20:08:32,429 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ({'hotel_name': 'MEININGER Hotel Lyon Centre Berthelot', 'hotel_url': 'https://www.booking.com/hotel/fr/meininger-lyon-centre-berthelot.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_chil ... (10 characters truncated) ... _children=0&hpos=1&hapos=1&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from_sustainable_property_sr=1&from=searchresults#hotelTmpl', 'hotel_describe': 'Installé à Lyon, le MEININGER Hotel Lyon Centre Berthelot propose un bar, un parking privé, un salon commun et une terrasse. ', 'hotel_ranking': '8,4', 'hotel_city': 'Lyon', 'hotel_lat': 45.746083, 'hotel_lon': 4.837187}, {'hotel_name': 'ibis Lyon Gerland Musée des Confluences', 'hotel_url': 'https://www.booking.com/hotel/fr/ibis-lyon-gerland-7eme.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&re ... (3 characters truncated) ... hildren=0&hpos=11&hapos=11&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from_sustainable_property_sr=1&from=searchresults#hotelTmpl', 'hotel_describe': 'Installé dans le sud de Lyon, sur les rives du Rhône, à 200\xa0mètres des autoroutes A7 et A6, l’ibis Lyon Gerland Musée des Confluences vous propose une réception ouverte 24h/24, un bar, un restaurant...', 'hotel_ranking': '7,9', 'hotel_city': 'Lyon', 'hotel_lat': 45.73332499, 'hotel_lon': 4.82288003}, {'hotel_name': '19Sisley - Calme & Cosy - 3CH 8P Metro Parking x2', 'hotel_url': 'https://www.booking.com/hotel/fr/19sisley.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=10&hapos=10&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from=searchresults#hotelTmpl', 'hotel_describe': 'Hébergement géré par un particulier', 'hotel_ranking': '8,3', 'hotel_city': 'Lyon', 'hotel_lat': 45.7506146, 'hotel_lon': 4.86868617}, {'hotel_name': 'La Résidence', 'hotel_url': 'https://www.booking.com/hotel/fr/laresidenlyon.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=9&hapos=9&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from=searchresults#hotelTmpl', 'hotel_describe': "Situé dans une rue piétonne de la presqu'île de Lyon, à 3 minutes à pied de la place Bellecour et à 800 mètres de la gare de Lyon-Perrache, l'hôtel 3 étoiles La Résidence propose des hébergements...", 'hotel_ranking': '8,0', 'hotel_city': 'Lyon', 'hotel_lat': 45.75527786, 'hotel_lon': 4.83048242}, {'hotel_name': 'La Casa Jungle Bed & Spa - Pentes de la Croix Rousse', 'hotel_url': 'https://www.booking.com/hotel/fr/la-casa-jungle-bed-amp-spa-pentes-de-la-croix-rousse.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=8&hapos=8&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from=searchresults#hotelTmpl', 'hotel_describe': "Doté d'une baignoire spa, l'établissement La Casa Jungle Bed & Spa - Pentes de la Croix Rousse est situé en plein centre de Lyon. ", 'hotel_ranking': '8,4', 'hotel_city': 'Lyon', 'hotel_lat': 45.771222, 'hotel_lon': 4.83543}, {'hotel_name': 'Radisson Blu Hotel, Lyon', 'hotel_url': 'https://www.booking.com/hotel/fr/radisson-blu-hotel-lyon.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&r ... (2 characters truncated) ... _children=0&hpos=7&hapos=7&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from_sustainable_property_sr=1&from=searchresults#hotelTmpl', 'hotel_describe': "Situé à 300 mètres de la gare Part-Dieu, l'établissement Radisson Blu Hotel, Lyon est doté d'un restaurant-bar offrant une vue panoramique sur Lyon depuis le 32ème étage de l'emblématique tour...", 'hotel_ranking': '8,1', 'hotel_city': 'Lyon', 'hotel_lat': 45.76106379, 'hotel_lon': 4.85515237}, {'hotel_name': 'Lagrange Aparthotel Lyon Lumière', 'hotel_url': 'https://www.booking.com/hotel/fr/lagrange-city-apartha-tel-lyon-lumia-re.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=6&hapos=6&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from=searchresults#hotelTmpl', 'hotel_describe': 'Installé à mi-chemin entre les stations de métro Sans Souci et Monplaisir-Lumière, la ligne desservant directement la place Bellecour et la vieille ville de Lyon, le Lagrange Aparthotel Lyon Lumière...', 'hotel_ranking': '8,2', 'hotel_city': 'Lyon', 'hotel_lat': 45.74645865, 'hotel_lon': 4.86893088}, {'hotel_name': 'Campanile Lyon Centre Part-Dieu', 'hotel_url': 'https://www.booking.com/hotel/fr/campanile-lyon-centre-forum-part-dieu.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&grou ... (16 characters truncated) ... _children=0&hpos=5&hapos=5&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from_sustainable_property_sr=1&from=searchresults#hotelTmpl', 'hotel_describe': 'Le Campanile Lyon Centre Part-Dieu propose des chambres climatisées avec une connexion Wi-Fi gratuite en face de la gare ferroviaire de Lyon-Part-Dieu. ', 'hotel_ranking': '7,9', 'hotel_city': 'Lyon', 'hotel_lat': 45.76027411, 'hotel_lon': 4.86332774}  ... displaying 10 of 125 total bound parameter sets ...  {'hotel_name': 'Hotel des Savoies Lyon Perrache', 'hotel_url': 'https://www.booking.com/hotel/fr/hoteldessavoies.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=13&hapos=13&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from=searchresults#hotelTmpl', 'hotel_describe': 'Situé dans le quartier de la Presqu&#39;île de Lyon, l&#39;Hotel des Savoies Lyon Perrache propose un hébergement avec connexion Wi-Fi gratuite dans l&#39;ensemble de son enceinte, à 7 minutes à pied...', 'hotel_ranking': '7,5', 'hotel_city': 'Lyon', 'hotel_lat': 45.74973597, 'hotel_lon': 4.82985042}, {'hotel_name': 'Comfort Suite Rive Gauche Lyon Centre', 'hotel_url': 'https://www.booking.com/hotel/fr/comfort-suite-rive-gauche-lyon-centre.fr.html?aid=304142&ucfs=1&arphpl=1&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=12&hapos=12&sr_order=popularity&srpvid=d26b980b93a70293&srepoch=1647985047&from=searchresults#hotelTmpl', 'hotel_describe': "L'appart'hôtel Comfort Suite Rive Gauche Lyon Centre est situé à Lyon, à 1,5 km de la gare de Perrache et de la place Bellecour. ", 'hotel_ranking': '8,1', 'hotel_city': 'Lyon', 'hotel_lat': 45.74916933, 'hotel_lon': 4.8387339})
2022-07-24 20:08:32,456 INFO sqlalchemy.engine.Engine COMMIT

125

In [46]:
#check the data in the gpskayak table
statement = text('SELECT * FROM "gpskayak" ORDER BY "City"')
display(pd.read_sql(statement,engine))

2022-07-24 20:08:45,636 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:45,638 INFO sqlalchemy.engine.Engine [cached since 29.52s ago] {'name': 'SELECT * FROM "gpskayak" ORDER BY "City"'}
2022-07-24 20:08:45,658 INFO sqlalchemy.engine.Engine SELECT * FROM "gpskayak" ORDER BY "City"
2022-07-24 20:08:45,659 INFO sqlalchemy.engine.Engine [generated in 0.00147s] {}

                            City   Latitude  Longitude
0                  Aigues Mortes  43.565823   4.191284
1                Aix en Provence  43.529842   5.447474
2                         Amiens  49.894171   2.295695
3                         Annecy  45.899235   6.128885
4                         Ariege  42.945537   1.406554
5                        Avignon  43.949249   4.805901
6                         Bayeux  49.276462  -0.702474
7                        Bayonne  43.493338  -1.475099
8                       Besancon  47.238022   6.024362
9                       Biarritz  43.483252  -1.559278
10            Bormes les Mimosas  43.157217   6.329254
11                   Carcassonne  43.213036   2.349107
12                        Cassis  43.214036   5.539632
13  Chateau du Haut Koenigsbourg  48.249490   7.344296
14                     Collioure  42.525050   3.083155
15                        Colmar  48.077752   7.357964
16                         Dijon  47.321581   5.041470
17                     Eguisheim  48.044797   7.307962
18              Gorges du Verdon  43.749656   6.328562
19                      Grenoble  45.187560   5.735782
20                   La Rochelle  46.159113  -1.152043
21                      Le Havre  49.493898   0.107973
22                         Lille  50.636565   3.063528
23                          Lyon  45.757814   4.832011
24                     Marseille  43.296174   5.369953
25                     Montauban  44.017584   1.354999
26             Mont Saint Michel  48.635954  -1.511460
27                         Nimes  43.837425   4.360069
28                         Paris  48.858890   2.320041
29                         Rouen  49.440459   1.093966
30      Saintes Maries de la mer  43.452277   4.428717
31                       St Malo  48.649518  -2.026041
32                    Strasbourg  48.584614   7.750713
33                      Toulouse  43.604462   1.444247
34                          Uzes  44.012128   4.419672

In [47]:
#check the data in the weather table
statement = text('SELECT * FROM "weather" ORDER BY "prob_rain", "tem_day" DESC')
display(pd.read_sql(statement,engine))

2022-07-24 20:08:49,351 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:49,353 INFO sqlalchemy.engine.Engine [cached since 33.24s ago] {'name': 'SELECT * FROM "weather" ORDER BY "prob_rain", "tem_day" DESC'}
2022-07-24 20:08:49,371 INFO sqlalchemy.engine.Engine SELECT * FROM "weather" ORDER BY "prob_rain", "tem_day" DESC
2022-07-24 20:08:49,373 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {}

,city,Latitude,Longitude,day,date,tem_day,feelslike_day,pressure,humidity,wind_speed,weather_main,weather_desc,prob_rain,clouds,uvi
0,Aix en Provence,43.529842,5.447474,5,27/03/2022,19.71,18.34,1021,23,4.39,Clouds,overcast clouds,0.00,95,4.73
1,Avignon,43.949249,4.805901,6,28/03/2022,19.60,18.53,1018,35,4.27,Clouds,overcast clouds,0.00,97,5.00
2,Avignon,43.949249,4.805901,5,27/03/2022,19.53,18.40,1022,33,4.65,Clouds,overcast clouds,0.00,90,4.97
3,Bayonne,43.493338,-1.475099,6,28/03/2022,18.68,17.86,1014,48,2.57,Clouds,broken clouds,0.00,71,6.00
4,Nimes,43.837425,4.360069,6,28/03/2022,18.68,17.60,1019,38,5.26,Clouds,overcast clouds,0.00,99,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,Carcassonne,43.213036,2.349107,7,29/03/2022,11.49,11.15,1006,94,6.72,Rain,light rain,0.98,100,6.00
276,Toulouse,43.604462,1.444247,7,29/03/2022,11.53,11.17,1005,93,5.84,Rain,moderate rain,0.99,100,6.00
277,Nimes,43.837425,4.360069,7,29/03/2022,11.36,10.74,1008,84,5.16,Rain,moderate rain,0.99,100,5.00
278,Montauban,44.017584,1.354999,7,29/03/2022,11.49,11.07,1006,91,5.37,Rain,moderate rain,1.00,100,6.00
279,Uzes,44.012128,4.419672,7,29/03/2022,10.81,10.17,1008,85,5.35,Rain,moderate rain,1.00,100,5.00

In [48]:
#check the data in the hotel table
statement = text('SELECT * FROM "hotel" ORDER BY "hotel_ranking" DESC')
display(pd.read_sql(statement,engine))

2022-07-24 20:08:53,987 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:53,988 INFO sqlalchemy.engine.Engine [cached since 37.87s ago] {'name': 'SELECT * FROM "hotel" ORDER BY "hotel_ranking" DESC'}
2022-07-24 20:08:54,006 INFO sqlalchemy.engine.Engine SELECT * FROM "hotel" ORDER BY "hotel_ranking" DESC
2022-07-24 20:08:54,007 INFO sqlalchemy.engine.Engine [generated in 0.00133s] {}

,hotel_name,hotel_url,hotel_describe,hotel_ranking,hotel_city,hotel_lat,hotel_lon
0,Duplex Typique Centre Bayonne,https://www.booking.com/hotel/fr/duplex-typiqu...,Hébergement géré par un particulier,None,Bayonne,43.489894,-1.473892
1,Bayonne appartement 3 étoiles à 5 min de la gare,https://www.booking.com/hotel/fr/bayonne-appar...,Hébergement géré par un particulier,None,Bayonne,43.493217,-1.465411
2,Residence Le Clos d'Eguisheim Eguisheim - ELS0...,https://www.booking.com/hotel/fr/residence-le-...,La Residence Le Clos d'Eguisheim Eguisheim - E...,None,Eguisheim,48.044796,7.311634
3,Le Clos Saluces,https://www.booking.com/hotel/fr/le-clos-saluc...,Le Clos Saluces possède un jardin fleuri aména...,"9,9",Avignon,43.950193,4.810586
4,GITE LE COQ ROUGE,https://www.booking.com/hotel/fr/gite-le-coq-r...,Hébergement géré par un particulier,"9,8",Eguisheim,48.041709,7.305693
...,...,...,...,...,...,...,...
120,Appartéa Grenoble Alpexpo,https://www.booking.com/hotel/fr/adagio-access...,L'Appartéa Grenoble Alpexpo est situé à 400 mè...,"7,1",Grenoble,45.159990,5.731111
121,Hôtel des Alpes,https://www.booking.com/hotel/fr/ha-tel-des-al...,"Situé à Grenoble, l'Hôtel des Alpes se trouve ...","7,1",Grenoble,45.190447,5.716858
122,Campanile Bayonne,https://www.booking.com/hotel/fr/campanile-bay...,Situé à 5 minutes en voiture du centre de Bayo...,"6,6",Bayonne,43.491125,-1.454841
123,Premiere Classe Bayonne,https://www.booking.com/hotel/fr/premiere-clas...,Situé à 5 minutes du centre-ville ainsi qu'à s...,"6,0",Bayonne,43.490490,-1.452035
124,Appartement Edelweiss,https://www.booking.com/hotel/fr/appartement-e...,L'Appartement Edelweiss propose un hébergement...,10,Eguisheim,48.043235,7.305222

In [49]:
#check the data in the hotel table
statement = text('SELECT "hotel_name", "hotel_city", "hotel_ranking", "hotel_lat", "hotel_lon" FROM "hotel" ORDER BY "hotel_ranking" DESC')
display(pd.read_sql(statement,engine))

2022-07-24 20:08:57,799 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-07-24 20:08:57,801 INFO sqlalchemy.engine.Engine [cached since 41.68s ago] {'name': 'SELECT "hotel_name", "hotel_city", "hotel_ranking", "hotel_lat", "hotel_lon" FROM "hotel" ORDER BY "hotel_ranking" DESC'}
2022-07-24 20:08:57,820 INFO sqlalchemy.engine.Engine SELECT "hotel_name", "hotel_city", "hotel_ranking", "hotel_lat", "hotel_lon" FROM "hotel" ORDER BY "hotel_ranking" DESC
2022-07-24 20:08:57,823 INFO sqlalchemy.engine.Engine [generated in 0.00345s] {}

,hotel_name,hotel_city,hotel_ranking,hotel_lat,hotel_lon
0,Duplex Typique Centre Bayonne,Bayonne,None,43.489894,-1.473892
1,Bayonne appartement 3 étoiles à 5 min de la gare,Bayonne,None,43.493217,-1.465411
2,Residence Le Clos d'Eguisheim Eguisheim - ELS0...,Eguisheim,None,48.044796,7.311634
3,Le Clos Saluces,Avignon,"9,9",43.950193,4.810586
4,GITE LE COQ ROUGE,Eguisheim,"9,8",48.041709,7.305693
...,...,...,...,...,...
120,Appartéa Grenoble Alpexpo,Grenoble,"7,1",45.159990,5.731111
121,Hôtel des Alpes,Grenoble,"7,1",45.190447,5.716858
122,Campanile Bayonne,Bayonne,"6,6",43.491125,-1.454841
123,Premiere Classe Bayonne,Bayonne,"6,0",43.490490,-1.452035
124,Appartement Edelweiss,Eguisheim,10,48.043235,7.305222